@page "/RL/Learning"
<h3>Learning Squirrel</h3>

@* TODO: Add a simulation with a squirrel that learns to solve the game here *@

@* TODO: Add a cheat button to load a winning squirrel in case of an emergency *@

@code {
    
}