@page "/RL/SettingValues"
<h3>Weighted Squirrel</h3>

@* TODO: Add a UI to set the squirrel importances here *@

@* TODO: Add a simulation that's play only so we can see how well this squirrel does *@

@code {
    
}