.game-world {
    /*background-image: url("Background2.png");*/
    background-color: seagreen;
    display: grid;
    width: 800px;
    height: 800px;
}

.Game-Tile {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 0.8em;
}

.Game-Object {
    width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
    filter: drop-shadow(2px 2px 2px #222);
}