.game-world {
    /* TODO: This would be better with a background graphic */
    background-color: darkolivegreen;
    border: 1px solid black;
    display: grid;
    width: 800px;
    height: 800px;
}

.Game-Tile {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 0.8em;
}

.Game-Object {
    border-radius: 50%;
    width: 90%;
    height: 90%;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.9em;
}

.Game-Object.Game-Object-Squirrel {
    background-color: brown;
}

.Game-Object.Game-Object-Tree {
    background-color: green;
}

.Game-Object.Game-Object-Acorn {
    background-color: darkgoldenrod;
}

.Game-Object.Game-Object-Doggo {
    background-color: black;
}

.Game-Object.Game-Object-Rabbit {
    background-color: white;
    color: black;
}