@page "/ML/Predict"
<h3>Predict</h3>

@* TODO: Add a UI here for the user to configure a hypothetical video game *@

@* TODO: Add a predict button and associated code and progress bar *@

@* TODO: Add a display of the predicted value here *@

@code {
    
}