@page "/ML/Predict"
@inject MachineLearningService MachineLearningService

<MudText Typo="Typo.h4">Predict Game Ratings</MudText>
<MudText Typo="Typo.subtitle1" Class="mb-8">
    Let's use a trained model to predict the rating of a hypothetical video game.
</MudText>

<MudPaper Class="p-4">
    <form @onsubmit="PredictGamePrice">
        <MudText Typo="Typo.h6">Game Information</MudText>
        <MudGrid>
            <MudItem>
                <MudTextField Label="Game Title" @bind-Value="Game.Title" Variant="Variant.Outlined"/>
                <MudTextField Label="Genre" @bind-Value="Game.Genre" Variant="Variant.Outlined"/>
                <MudTextField Label="Platform" @bind-Value="Game.Platform" Variant="Variant.Outlined"/>
                <MudTextField Label="Target Age Group" @bind-Value="Game.TargetAgeGroup" Variant="Variant.Outlined"/>
                <MudTextField Label="Price" @bind-Value="Game.Price" Variant="Variant.Outlined"/>
                <MudTextField Label="Developer" @bind-Value="Game.Developer" Variant="Variant.Outlined"/>
                <MudTextField Label="Publisher" @bind-Value="Game.Publisher" Variant="Variant.Outlined"/>
                <MudTextField Label="Year Published" @bind-Value="Game.Year" Variant="Variant.Outlined"/>
            </MudItem>
            <MudItem>
                <MudCheckBox Label="Requires Special Device?" @bind-Value="Game.RequiresSpecialDevice"/>
                <MudCheckBox Label="Is Online?" @bind-Value="Game.IsOnline"/>
                <MudCheckBox Label="Is Multiplayer?" @bind-Value="Game.Multiplayer"/>
                <MudTextField Label="Hours Long" @bind-Value="Game.HoursLong" Variant="Variant.Outlined"/>
                <MudTextField Label="Graphics Quality" @bind-Value="Game.Graphics" Variant="Variant.Outlined"/>
                <MudTextField Label="Music Quality" @bind-Value="Game.Music" Variant="Variant.Outlined"/>
                <MudTextField Label="Story Quality" @bind-Value="Game.Story" Variant="Variant.Outlined"/>
                <MudTextField Label="Minimum Players" @bind-Value="Game.MinPlayers" Variant="Variant.Outlined"/>
            </MudItem>
        </MudGrid>

        <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Class="mt-8"
                   Disabled="IsBusy">
            Predict Price
        </MudButton>

        @if (IsBusy)
        {
            <MudProgressLinear Indeterminate="true" Color="Color.Primary" Class="mt-4"/>
        }

    </form>
</MudPaper>

@if (PredictedPrice.HasValue)
{
    <MudAlert Severity="Severity.Success" Class="mt-8" Variant="Variant.Outlined">
        <MudText Typo="Typo.h6">Predicted Price</MudText>
        <MudText Typo="Typo.subtitle1" Class="mb-4">
            The predicted rating of @Game.Title is a @PredictedPrice.Value.ToString("F1") out of 50!
        </MudText>
    </MudAlert>
}

@code {
    public bool IsBusy { get; set; }

    public VideoGame Game { get; set; } = new()
    {
        Year = 2025,
        Price = 40.00f,
        RequiresSpecialDevice = false,
        HoursLong = 30,
        MinPlayers = 1,
        Graphics = 3,
        Music = 3,
        Story = 3,
        Genre = "Adventure",
        Platform = "PC",
        TargetAgeGroup = "All Ages"
    };
    public float? PredictedPrice { get; set; }

    private Task PredictGamePrice()
    {
        IsBusy = true;
        PredictedPrice = null;
        StateHasChanged();

        return Task.Run(() =>
        {
            float price = MachineLearningService.PredictGameRating(Game);
            InvokeAsync(() =>
            {
                PredictedPrice = price;
                IsBusy = false;
                StateHasChanged();
            });
        });
    }

}