@page "/ML/Train"
@rendermode InteractiveServer
@inject MachineLearningService MachineLearningService

<h3>Train</h3>

@* TODO: Add a description of the training process here and image *@

<MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" @onclick="HandleTrainClick">Train Model</MudButton>
@* TODO: Add a progress bar here *@

@code {

    private Task HandleTrainClick()
    {
        Console.WriteLine("Training Model");
        MachineLearningService.TrainModel();
        
        return Task.CompletedTask;
    }

}