@page "/Vision/ImageCaptioning"
@rendermode InteractiveServer

@using MattEland.MadDataScience.Services
@inject VisionService VisionService

<h3>Image Captioning</h3>

<img src="@ImageSource" alt="Sample Image" class="img-fluid" />
<span>@Caption</span>

<MudButton @onclick="HandleCaptionClick" Variant="Variant.Filled" Color="Color.Primary">Caption This</MudButton>

@code {
    public string ImageSource { get; set; } = "CodeMash.jpg";
    public string? Caption { get; set; }

    private async Task HandleCaptionClick()
    {
        BinaryData data = await VisionService.LoadImageDataAsync(ImageSource);
        
        Console.WriteLine("Captioning Image"); 
        Caption = await VisionService.GetImageCaptionAsync(data);
        
        Console.WriteLine($"Captioned Image {ImageSource} as {Caption}");
    }
}