@page "/Vision/DenseCaptioning"
@rendermode InteractiveServer

@using MattEland.MadDataScience.Models
@using MattEland.MadDataScience.Services
@inject VisionService VisionService

<h3>Dense Captioning</h3>

<img src="@ImageSource" alt="Sample Image" class="img-fluid" />

<MudButton @onclick="HandleCaptionClick" Variant="Variant.Filled" Color="Color.Primary">Caption Objects</MudButton>

@* TODO: Overlay rectangles on the image *@
@if (Objects.Any())
{
    <ul>
        @foreach (var obj in Objects)
        {
            <li>@obj</li>
        }
    </ul>
}

@code {
    public string ImageSource { get; set; } = "CodeMash.jpg";
    List<ObjectDetectionResult> Objects { get; set; } = new();

    private async Task HandleCaptionClick()
    {
        BinaryData data = await VisionService.LoadImageDataAsync(ImageSource);
        
        Console.WriteLine("Captioning Objects"); 
        Objects = await VisionService.CaptionObjectsAsync(data);
    }
}