@page "/GenAI/TextCompletions"
<h3>Text Completions</h3>

@* TODO: Allow the user to select a template *@

@* TODO: Text Area for user input *@

@* TODO: Button to generate text *@

@* TODO: Progress Bar *@

@* TODO: Display generated text *@

@code {
    
}