@page "/Speech/SpeechToText"
@rendermode InteractiveServer
@inject SpeechService speechService

<h3>SpeechToText</h3>

<form @onsubmit="HandleSubmit">
    <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled">Start Listening</MudButton>
</form>

<span>@Heard</span>

@code {

    public string? Heard { get; set; }
    
    private async Task HandleSubmit()
    {
        Console.WriteLine("Handling Submit");
        string result = await speechService.ListenAsync();
        
        Heard = result;
    }

}