@page "/Speech/TextToSpeech"
@rendermode InteractiveServer

@inject SpeechService SpeechService

<MudText Typo="Typo.h4">Text to Speech (Speech Synthesis)</MudText>
<MudText Typo="Typo.subtitle1" Class="mb-8">
    AI can use neural networks to emulate the patterns of speech by converting text to spoken words.
</MudText>

<form @onsubmit="HandleSubmit">
    <MudTextField @bind-Value="Message" Label="Message" Variant="Variant.Outlined" HelperText="Enter some text you want the AI to say" />
    
    @* TODO: Add a voice selection box *@
    
    <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" Class="mt-4">Speak</MudButton>
</form>

@code {
    public string? Message { get; set; }
    
    private async Task HandleSubmit()
    {
        if (Message == null)
        {
            return;
        }
        
        Console.WriteLine("Sending message to speech service: " + Message);
        await SpeechService.SpeakAsync(Message);
    }
}