@page "/Speech/TextToSpeech"
@rendermode InteractiveServer

@using MattEland.MadDataScience.Services

@inject SpeechService SpeechService

<h3>Text to Speech (Speech Synthesis)</h3>

<form @onsubmit="HandleSubmit">
    <MudTextField @bind-Value="Message" Label="Message" Variant="Variant.Text" />
    
    @* TODO: Add a voice selection box *@
    
    <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled">Speak</MudButton>
</form>

@code {
    public string? Message { get; set; }
    
    private async Task HandleSubmit()
    {
        if (Message == null)
        {
            return;
        }
        
        Console.WriteLine("Sending message to speech service: " + Message);
        await SpeechService.SpeakAsync(Message);
    }
}